<!DOCTYPE html>
<html>
  <head>
    <title>Makers_Bnb</title>
  </head>
  <body>
    <header>
      <form action="/">
        <input type='submit' value='Home'>
      </form>
      <% if @current_user %>
    <% if request.path_info != '/space_new' %>
      <form action="/space_new">
        <input type='submit' value='List a Space'>
      </form>
      <% end %>
      <form method='post' action='/log_out'>
        <input type='hidden' name='_method' value='delete'>
        <input id="header_button" type='submit' value='Log out'>
      </form>
      <form action='/your_hosting_requests'>
        <button type='submit'>Your hosting requests</button>
      </form>

      <% else %>

        <form method="get" action="/sign_up">
          <button type="submit">Sign Up</button>
        </form>
    <% if request.path_info != '/log_in' %>
        <form method="get" action="/log_in">
          <button type="submit">Log in</button>
        </form>
    <% end %>
      <% end %>
    </header>

    <% if flash[:errors] && !flash[:errors].empty? %>
      <section id="header">
        <p>Please refer to the following errors below:</p>
        <ul id='errors'>
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </section>
    <% end %>

    <% if flash[:notice] %>
      <div id='notice'>
      <%= flash[:notice] %>
    <% end %>

    <% if current_user %>
      <p>Welcome, <%= current_user.first_name %>.</p>
    <% end %>


    <%= yield %>
  </body>
</html>
