<h1 id="page_title">Log in</h1>

<section class="container">
  <form action="/log_in" method="post">
    <label>Email:</label>
    <input type="text" name="email">
    <label>Password:</label>
    <input type="password" name="password">
    <button type="submit">Log in</button>
  </form>
</section>
