<html>
  <form action ="/sign_up" method = 'POST'>
  <label for = 'First Name'>
  First Name:
    <input type = "text" name = "first_name" required />
  </label>
  <br>
  <label for = 'Second Name'>
  Second Name:
    <input type = "text" name = "second_name" required />
  </label>
  <br>
  <label for = 'Username'>
  Username:
    <input type = "text" name = "username" required />
  </label>
  <label for = 'Email'>
  Email:
    <input type = "text" name = "email" required />
  </label>
  <label for = 'Password'>
  Password:
    <input type = "password" name = "password" required />
  </label>
  <label for = 'Password Confirmation'>
  Password Confirmation:
    <input type = "password" name = "password_confirmation" required />
  </label>
    <input type = 'submit' value='Submit' />
  </form>
</html>
