<form action='/space_new' method='post'>
  <label>Name:
 <input type='text' name='name'><br>
 </label>
 <label>Description:
   <input type='text' name='description'><br>
 </label>
 <label>Price per night:
 <input type='number' name='price'><br>
 </label>
 <label>Address:<br>
 Street:<input type='text' name='street'><br>
 City:<input type='text' name='city'><br>
 </label>
 <input type='submit' value='Submit'>
</form>
